-webkit-animation: myOrbit 4s linear infinite; /* Chrome, Safari 5 */
       -moz-animation: myOrbit 4s linear infinite; /* Firefox 5-15 */
         -o-animation: myOrbit 4s linear infinite; /* Opera 12+ */
            animation: myOrbit 4s linear infinite; /* Chrome, Firefox 16+, 
                                                      IE 10+, Safari 5 */


body{
	background-image: url("../Images/Snow_Background_NSMBW.png");
	background-repeat: no-repeat;

}

#slope {
	border-right:dashed 10px black;
	box-sizing: border-box;
	margin: 40px 0;
	

}

.lakitu {
	display: block;
	height: 100px;
	float: right;
	z-index: 1;
}

.olympian {
	position: relative;
	display: block;
}

#racerPlacings {
	width: 70%;
	margin: 140px auto 0;
	height: 150px;
	background: black;
	opacity: 0.3;
}

#racerPlacings h2 {
	color: white;
	text-transform: uppercase;
	border-bottom: solid 1px white;
	padding: 20px 0;
	text-align: center;
}

#yoshi {
	top: 90px;
}

#luigi {
	top: 120px;
}

.placeInfo {
	font-size: 24px;
	width: 50%;
	float: left;
	color: black;
}

.placeInfo span {
	display: block;
	font-weight: normal;
	font-size: 18px;
	color: black;
}

#racerInfo1 {
	color: #50d189;

}

#racerInfo2 {
	color: rgb(59, 91, 242);
}

input[type="button"] {
	background: white;
	color: orange;
	padding: 10px 20px;
	border: solid 1px;
	font-weight: bold;
}

.clearfix:after {
	content:"";
	display: table;
	clear: both;
}









